<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis perris</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"> 
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="{% static 'core/js/inicializacion.js' %}"></script>
    

</head>

<body>
        <header>
                <img class="logo" src="{% static 'core/img/logo.png' %}" alt="logo">
                <ul class ="navegacion">
                    <li>
                        <a href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Quienes somos</a>
                    </li>
                    <li>
                        <a href="#">Servicios</a>
                    </li>
                    <li>
                        <a href="#">Contactanos</a>
                    </li>
                    <li>
                        <a href="{% url 'galeria' %}">Galeria</a>
                    </li>
                    
                    {% if request.user.is_authenticated %}

                    <li>
                        <a href="{% url 'logout' %}">Salir</a>
                    </li>
                    {% else %}
        


                    <li>
                        <a href="">{{ request.user.first_name}}</a>
                    </li>

                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
        
                    {% endif %}
        
                   

                </ul>
            </header>
           
    <br>
    <br>
    <br>
    <h1 class="titulo">Rescate </h1>
    <h5 class="subtit">Etapa uno </h5>
    <br>
    <hr class="hr">
    <br>
    <h5 class="text1"> Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los </h5>
    <h5 class="text2"> Preparamos para buscarles un hogar.</h5>
    <br>
    <div class="fotor"><img src="{% static 'core/img/rescate.jpg' %}" alt="perro"> </div>
    <div class="fotoc"> <img src="{% static 'core/img/crowfunding.jpg' %}" alt="comida"> </div>
    <h1 class="titulo2">Crowfunding </h1>
    <h5 class="subtit2">Financiamento</h5>
    <br>
    <hr class="hr2">
    <br>
    <h5 class="text10 "> Sigue nuestras redes sociales para informarte acerca de las diversas campañas y </h5>
    <h5 class="text11 "> actividades que realizamos para obtener finaciamento para seguir ayudando. </h5>
    <br>
    <span class="boton" style= "border-image: initial;border: 3px solid black;width: auto; padding: auto;" >Campañas</span>
    <br>
    <br>
    <br>
  
    <div>
        {% block contenido %}

        {% endblock contenido %}
    <header class="header2">
        <br>
        <h5 class="text3"> Desarrollo web y mobile </h5>
    </header>
    </div>  

</html>