{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<div class="galeria">
    
        <ul class="galeria1">
            <li><a data-fancybox="gallery"  href="{% static 'core/img/Oso.jpg' %}"><img src= "{% static 'core/img/Oso.jpg' %}"></a></li>
            <li><a data-fancybox="gallery" href="{% static 'core/img/Wifi.jpg' %}"><img src="{% static 'core/img/Wifi.jpg' %}"></a></li>
            <li><a data-fancybox="gallery"href="{% static 'core/img/Maya.jpg' %}"><img src="{% static 'core/img/Maya.jpg' %}"></a></li>
            <li><a data-fancybox="gallery"href="{% static 'core/img/Pexel.jpg' %}"><img src="{% static 'core/img/Pexel.jpg' %}"></a></li>
            <li><a data-fancybox="gallery"href="{% static 'core/img/Chocolate.jpg' %}"><img src="{% static 'core/img/Chocolate.jpg' %}"></a></li>
            <li><a data-fancybox="gallery"href="{% static 'core/img/Luna.jpg' %}"><img src="{% static 'core/img/Luna.jpg' %}"></a></li>
            <li><a data-fancybox="gallery" href="{% static 'core/img/Bigotes.jpg' %}"><img src="{% static 'core/img/Bigotes.jpg' %}"></a></li>
        </ul>
    </div>

{% endblock contenido %}