<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Ingresa tus credenciales</h1>

    <form action="" method="post">

        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Login">        
        
    </form>

    <hr>
    <a href="{% url 'register' %}">Registrate</a>
    <hr>
    <hr>
    <a href="{% url 'social:begin' %}">Login con facebook</a>

</body>
</html>