*{  
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.bx-wrapper
{
    background-color:rgb(133,212,183);
    border:none!important;
    box-shadow: none!important;
}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(133, 212, 183);
}

.logo{
    width: 300px;
    height: 55px;
    margin-top: 10px;
    margin-left: 20px;
}

.navegacion{
    float: right;
    margin-right: 20px;
}

.navegacion li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 16px;   
    width: 150px;
    height: 36px;
    background-color: rgb(133, 212, 183);
    text-align: center;
    padding-top: 14px;
}

.navegacion li:hover{
    border-radius: 20px;
}

.navegacion li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.landing{
    background-color: rgb(109, 204, 170);
    width: 100%;
    height: 560px;
    padding-bottom: 50px;
}

.landing_img{
    width: 900px;
    height: 400px;
    display: block;
    margin: auto;
}

.eslogan{
    color: white;
    margin-left: 10px;
    font-size: 20px;
    float: left;
}

.slogan{
    color: white;
    margin-left: 250px;
    font-size: 20px;
    float: left;
}

.social{
    float: right;
    margin-right: 20px;
}

.social li{
    display: inline-block;
    margin-left: 20px;
    transition: border-radius 0,2;
}

.social li img{
    width: 50px;
    height: 50px;
}

.social li img:hover{
    border-radius: 20px;
}

.footer{
    height: 300px;
    background-color: #9e9e9e;
}

.color_plomo{
    color: black;
}

.centrar_texto{
    text-align: left;
}

.titulo {
    margin-left: 500px; 
}

.subtit { 
    margin-left: 558px; 
    color: gray;
}

.hr {
    width: 50px;
    margin-left: 573px; 
    color: black;
}

.text1 {
    margin-left: 71px; 
    color: black;
}

.text2 {
    margin-left: 373px; 
    color: black;
}

.fotor img {
    margin-left: 315px; 
    width: 310px;
    height: 196px;
}

.header2 {
   width: 100%;
   height: 80px;
   background-color:rgb(204, 204, 204);
}

.text3 {
    text-align: center;
}

.fotoc img {
    margin-left: 670px;
    width: 310px;
    height: 185px;
    margin-top: -1200px;
    margin-bottom: 170px;
}

.titulo2{
    margin-left: 670px;
    margin-bottom: 100px;
    margin-top: -130px;
}

.subtit2{
    margin-left: 670px;
    margin-bottom: 100px;
    margin-top: -100px;
    color: gray;
}

.hr2{
    margin-left: 670px;
    margin-bottom: 100px;
    margin-top: -100px;
    width: 50px;
    color: black;
}

.text10{
    color: black;
    margin-left: 670px;
    margin-bottom: 100px;
    margin-top: -95px;
}

.text11{
    color: black;
    margin-left: 670px;
    margin-bottom: 100px;
    margin-top: -95px;
}

.boton {
    margin-left: 670px;
    margin-bottom: 10px;
    margin-top: 90px;
    color: black;
}


.galeria{
    background-color: rgb(109, 204, 170);
    width: 100%;
    height: auto;

}

.galeria1{
    width:90%;
    margin:auto;
    list-style:none;
    padding:20px;
    box-sizing:border-box;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}   

.galeria1 li{
    margin: 5px;
}

.galeria1 img{
    width: 250px;
    height: 200px;
    
}

@media (max-width:1024px){
    .landing_img{
        width: 100%;
        height: auto;
    }

    .eslogan{
        text-align: center;
        float: none;
    }

    .slogan{
        text-align: center;
        float: none;
    }

    .social{
        float: none;
        text-align: center;
    }

    header{
        height: 350px;
    }

    .navegacion{
        float: none;
        width: 80%;
        margin: auto;
    }

    .navegacion li{
        width: 100%;
        margin-left: 0;
    }

    .landing{
        height: auto;
    }

    .titulo{
        margin-left: 20;
        margin: auto;
    }

    .subtit{
        margin-left: 20;
        margin: auto;
    }

    .hr{
        margin-left: 0;
        margin: auto;
    }

    .text1{
        margin-left: 20;
        margin: auto;
    }

    .text2{
        margin-left: 20;
        margin: auto;
    }

    .fotor img{
        margin-left: 10px;
        margin: auto;
    }

    .fotoc img{
        margin-left: 10px;
        margin: auto;
        margin-top: 50px;
    }

    .titulo2{
        margin-left: 10px;
        margin: auto;
        margin-top: 20px;
    }

    .subtit2{
        margin-left: 10px;
        margin: auto;
        margin-top: 5px;
    }

    .hr2{
        margin-left: 10px;
        margin: auto;
    }

    .text10{
        margin-left: 10px;
        margin: auto;
    }

    .text11{
        margin-left: 10px;
        margin: auto;
        margin-top: 3px;
    }

    .boton{
        margin-left: 10px;
        margin: auto;
        margin-top: 100px;
    }

    .header2{
        margin-left: 10px;
        margin: auto;
    }

    .text3{
        margin-left: 10px;
        margin: auto;
    }
    
}

